


.bv-home-container {

  padding: 32px;
  background-color: var(--body-xsw);
  color: var(--text-xsw);
  gap: 32px;
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 5vh;
  height: 100vh;
  box-shadow:0px 0px 5px var(--shadow-d);
}

.bv-home-title {
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
}

.bv-home-link {
  height: 40px;
  padding: 8px;
  background-color: var(--button-xsd);
  color: var(--text-xsd);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.bv-home-link:hover {
  background-color: var(--button-lcl);
  color: var(--text-sw);
  box-shadow: 0 0px 6px var(--shadow-d);
  
}
.bv-home-projects {
  gap: 20px;
  flex-wrap: wrap;
}

.bv-home-project-card {
  background-color: var(--card-d)!important;
  padding: 16px;
  width: 260px;
  border-left:6px solid var(--border-cl);
  cursor: pointer;
}

.bv-home-project-card:hover {
  transform: translateX(5px);
}

.bv-home-project-icon {
  width: 40px;
  height: 40px;
  background-color:var( --body-xld);
}

.bv-home-project-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-sd);

}

.bv-home-project-info ul {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  font-size: 13px;
  color: var(--text-ld);
}

.bv-home-tabs {
  gap: 24px;
  border-bottom: 1px solid var(--border-lw);
  padding-bottom: 8px;
}

.bv-tab {
  cursor: pointer;
  padding-bottom: 6px;
  font-size: 14px;
  color: var(--text-xsw);
  transition: all 0.1s ease-in;
  padding: 5px;
}
.bv-tab:hover {
  
  border-bottom: 2px solid var(--border-lw);
 

}
.bv-tab.active {
  border-bottom: 2px solid var(--border-lw);
  font-weight: bold;
}

.bv-activity-item {
  padding: 6px 10px;
  cursor: pointer;
  
}
.bv-activity-item:nth-child(odd){
  background-color: var(--card-scl);
  transition: all 0.2s ease-in-out;
}

.bv-activity-item:hover {
  box-shadow: inset 0 0 9px var(--shadow-d);
}

.bv-activity-icon {
  width: 30px;
  height: 30px;
  background-color: var(--body-xld);
  border-radius: 4px;
  margin-right: 16px;
}

.bv-activity-details {
  flex: 1;
}

.bv-activity-title {
  font-weight: 600;
  display: block;
}

.bv-activity-subtitle {
  font-size: 12px;
  color: var(--text-sw);
  font-weight: 700;
}


.bv-activity-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  color: var(--text-lw);;
}

.bv-activity-user {
  background-color: var(--status-color-green);
  color: white;
  padding: 2px 6px;
  border-radius: 50px;
  margin-top: 4px;
  font-weight: bolder;
  font-size: 12px;
}


.bv-pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px; 
  gap: 5px; 
  flex-wrap: wrap; 
}

.bv-pagination-btn,
.bv-pagination-page {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.bv-pagination-btn:hover,
.bv-pagination-page:hover:not([disabled]) {
  background-color: var(--button-ld);
  border-color: var(--border-d);
  color: var(--text-d);
}

.bv-pagination-btn:disabled,
.bv-pagination-page:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.bv-pagination-page.active {
  background-color: var(--button-d); 
  color: var(--text-d);
  border-color: var(--border-cl);
  font-weight: bold;
}

.bv-pagination-info {
    margin-left: 15px; 
    font-size: 0.9em;
    color: var(--text-xsw);
}

.bv-no-results {
    text-align: center;
    padding: 20px;
    color: var(--text-xsw);
    font-style: italic;
}