

<div class="bv-home-container bv-shadow-2 d-flex flex-column">

  <div class="bv-home-section">
    <div class="bv-home-header d-flex justify-content-between align-items-center">
      <span class="bv-home-title">{{'home.yourWork' | translate}}</span>
      <a href="/projects" class="bv-home-link d-flex justify-content-center align-items-center bv-radius-4 bv-transition">{{'home.viewAllProjects' | translate}}</a>
    </div>

    <div class="bv-home-projects d-flex justify-content-start">
      <div class="bv-home-project-card d-flex bv-shadow-1 bv-transition gap-3 bv-radius-3" routerLink="project-detail/board/{{project.id}}" [queryParams]="{ projectId: project.id }" *ngFor="let project of recentProjects">
        <div class="bv-home-project-icon bv-radius-4"></div>
        <div class="bv-home-project-info">
          <h3>{{ project.name }}</h3>
          <ul>
            <li>{{'home.myOpenIssues' | translate}} {{ project.description }}</li>
            <li>{{'home.doneIssues' | translate}} {{ project.createdAt|date }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="bv-home-tabs d-flex">
  <span class="bv-tab" [class.active]="activeTab === 'worked'" (click)="setTab('worked')">{{'home.workedOn' | translate}}</span>
  <span class="bv-tab" [class.active]="activeTab === 'assigned'" (click)="setTab('assigned')">{{'home.assignedToMe' | translate}}</span>
</div>

<div *ngIf="activeTab === 'worked' || activeTab === 'assigned'">
  <div class="bv-activity-item" *ngFor="let activity of displayedActivities">
    <div class="bv-activity-details">
      <span class="bv-activity-title">{{ activity.title }}</span>
       </div>
    <div class="bv-activity-meta">
      <span class="bv-activity-type">{{ activeTab === 'worked' ? 'In Progress' : 'Assigned' }}</span>
      <span class="bv-activity-user">{{ activity.assignedUser?.username || 'ErdemKoray' }}</span>
    </div>
  </div>

  <div class="bv-pagination" *ngIf="totalPages > 1">
    <button class="bv-pagination-btn" (click)="prevPage()" [disabled]="!canGoPrev">{{'home.previous' | translate}}</button>
    <ng-container *ngFor="let page of totalPages | numberSequence">
      <button class="bv-pagination-page" [class.active]="page === currentPage[activeTab]" (click)="goToPage(page)">
        {{ page }}
      </button>
    </ng-container>
    <button class="bv-pagination-btn" (click)="nextPage()" [disabled]="!canGoNext">{{'home.next' | translate}}</button>
    <span class="bv-pagination-info">{{ currentItemsRange }}</span>
  </div>
</div>

</div>