<div class="bv-register-body">
  <div class="bv-register-container">
    <div class="bv-logo">
      <img *ngIf="!darkMode" src="iconbeavask.png" alt="Logo">
      <img *ngIf="darkMode" src="Beavaskpink.png" alt="Logo">
    </div>
    <div class="bv-form-container">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="bv-input-grp">
          <div class="form-group bv-text-group">
            <label for="exampleInputfirstnm">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group bv-text-group">
            <label for="exampleInputlastname">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>

        <div class="form-group bv-text-group">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
        </div>

        <div class="bv-input-grp">
          <div class="form-group bv-text-group">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group bv-text-group">
            <label for="exampleInputchckpswrd">Check Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>

        <div *ngIf="registerForm.hasError('passwordsNotMatching')" class="error-message">
          Passwords do not match.
        </div>

        <div class="bv-check2">
          <div class="bv-create-account" (click)="gotologin()">Login</div>
        </div>

        <div class="bv-register-options">
          <button type="submit" [disabled]="isLoading || registerForm.invalid" class="bv-submit">
            <div *ngIf="isLoading" class="loader">Loading...</div> 
            <span *ngIf="!isLoading">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-toast></app-toast>
