body{
    background-color: aliceblue;
}



















.bv-hamb-button{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.bv-hamb-container{
    display: none;
}

.bv-hamb-container-o{
    display: inline;
}