<footer class="py-3 border-top fixed-bottom w-100" style="background-color: #2e2e1e;">
  <ul style="background-color: #2e2e1e;" class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#"  class="nav-link px-2">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
  </ul >
  <p style="background-color: #2e2e1e;" class="text-center">© 2024 Company, Inc</p>
</footer>
