<div class="bv-mail-container">
  <div class="circle-box"></div>
  <div class="circle-box1"></div>
  <div class="circle-box2"></div>
  <div class="bv-mail-body">
    <div class="bv-mail-close" (click)="toogleForgotPassModal()">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <!-- 1. Adım: E-posta gönderme -->
    <div class="bv-mail-header" *ngIf="!MailSendToUser">
      <h3>{{'login.forgotPassword.description' | translate}}</h3>
    </div>
    <div class="bv-mail-form" *ngIf="!MailSendToUser">
      <form [formGroup]="sendMail" class="bv-mail-form-container" (ngSubmit)="sendMailForPassword()">
        <label>{{'login.forgotPassword.mail' | translate}}</label>
        <input formControlName="email" type="text" class="bv-mail-input" placeholder="{{'login.forgotPassword.mailPlaceholder' | translate}}">
        <button type="submit" class="bv-mail-button" [disabled]="sendMail.invalid">{{'login.forgotPassword.send' | translate}}</button>
      </form>
    </div>

    <!-- 2. Adım: Mail'e gelen kodu onaylama -->
    <div class="bv-mail-header" *ngIf="MailSendToUser && !verifiedMail">
      <h3> {{forgetPasswordMail }} {{'login.forgotPassword.enterCode' | translate}}</h3>
    </div>
    <div class="bv-mail-form" *ngIf="MailSendToUser && !verifiedMail">
      <form (ngSubmit)="verifyMailWithCode(codeInput)" class="bv-mail-form-container">
        <label>{{'login.forgotPassword.code' | translate}}</label>
        <input [(ngModel)]="codeInput" name="code" maxlength="8" class="bv-mail-input" placeholder="{{'login.forgotPassword.codePlaceholder' | translate}}">
        <button type="submit" class="bv-mail-button">{{'login.forgotPassword.send' | translate}}</button>
      </form>
      <div class="bv-mail-helper">{{'login.forgotPassword.codeHelper' | translate}}</div>
    </div>

    <!-- 3. Adım: Şifre değiştirme formu -->
    <div class="bv-mail-header" *ngIf="verifiedMail">
      <h3>{{'login.forgotPassword.resetTitle' | translate}}</h3>
    </div>
    <div class="bv-mail-form" *ngIf="verifiedMail">
      <form [formGroup]="changePassword" class="bv-mail-form-container" (ngSubmit)="changePasswordSubmit()">
        <label>{{'login.forgotPassword.newPassword' | translate}}</label>
        <input
          formControlName="password"
          type="password"
          class="bv-mail-input"
          placeholder="{{'login.forgotPassword.passwordPlaceholder' | translate}}"
          [ngClass]="{'invalid': changePassword.get('password')?.touched && changePassword.get('password')?.invalid}"
        >
        <div class="bv-mail-valid" *ngIf="changePassword.get('password')?.touched && changePassword.get('password')?.invalid">
          <small *ngIf="changePassword.get('password')?.errors?.['required']">Şifre gereklidir.</small>
          <small *ngIf="changePassword.get('password')?.errors?.['minlength']">En az 8 karakter olmalı.</small>
          <small *ngIf="changePassword.get('password')?.errors?.['pattern']">En az bir büyük, bir küçük harf, bir rakam ve özel karakter içermeli.</small>
        </div>
        <label>{{'login.forgotPassword.confirmPassword' | translate}}</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="bv-mail-input"
          placeholder="{{'login.forgotPassword.confirmPasswordPlaceholder' | translate}}"
          [ngClass]="{'invalid': changePassword.get('confirmPassword')?.touched && changePassword.get('confirmPassword')?.invalid}"
        >
        <div class="bv-mail-valid" *ngIf="changePassword.get('confirmPassword')?.touched && changePassword.hasError('passwordsNotMatching')">
          <small>Şifreler eşleşmiyor.</small>
        </div>
        <button type="submit" class="bv-mail-button" [disabled]="changePassword.invalid">{{'login.forgotPassword.save' | translate}}</button>
      </form>
    </div>

  </div>
</div>
