.bv-mp-container {
 
    height: 85vh;
    display: flex;
    justify-content: center;
  }
  
  .bv-mp-body {
    margin-top: 5vh;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    background-color: var(--main-white-color);
    box-shadow:0px 0px 5px var(--border-sdark-white-color);

  }
  
  .bv-mp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .bv-mp-h-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-dark-white-color);
  }
  
  .bv-mp-h-a-filter {
    display: flex;
    gap: 8px;
  }
  
  .bv-mp-h-a-input {
    height: 40px;
    padding: 0 12px;
    border: 1px solid var(--border-sdark-white-color);
    border-radius: 4px 0 0 4px;
    outline: none;
    background: var(--main-white-color);
  }
  
  .bv-mp-h-a-button {
    background-color: var(--button-dark-white-color);
    color: var(--main-white-color);
    border: none;
    border-radius: 0 4px 4px 0;
    width: 40px;
    cursor: pointer;
    transition: background 0.2s;
  }
  .bv-mp-h-a-button:hover {
    background-color: var(--button-blue-white-color);
  }
  
  /* Section */
  .bv-mp-section {
    margin-top: 30px;
  }
  
  .bv-mp-grid {
    overflow-x: auto;
    background-color: var(--main-white-color);
    border-radius: 8px;
    
  }
  .bv-mp-grid::-webkit-scrollbar {
    width: 28px;
    height: 9px;
    background-color: var(--border-sdark-white-color);
  }

  .bv-mp-grid::-webkit-scrollbar-thumb {
    background-color: var(--text-dark-white-color);
    border-radius: 8px;
    width: 4px;
  }
  .bv-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;

    color: var(--text-dark-white-color);
  }
  
  .bv-table th,
  .bv-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border-sdark-white-color);
    white-space: nowrap;
    cursor: pointer;
  }

  .bv-table th:hover{
    box-shadow:inset  0 2px 8px var(--shadow-01dark-white-color);
    

  }
  .bv-table-header{
    width: 100%;
    height: 100%;
    display: flex; 
    gap: 10px;
  }
  .bv-table-header svg{
    fill: var(--text-dark-white-color);
  }
  .bv-table thead {
    background-color: var(--card-swhite-color);
  }
  
  .bv-user {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .bv-user img,
  .bv-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .bv-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 600;
    color: var(--main-white-color);
    font-size: 12px;
    text-transform: capitalize;
    display: inline-block;
  }
  
  .bv-high {
    background-color: var(--status-color-red);
  }
  
  .bv-medium {
    background-color: var(--status-color-purple);
  }
  
  .bv-low {
    background-color: var(--status-color-blue);
  }
  
  .bv-status {
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  
  .bv-status-open {
    background-color: var(--status-color-green);
  }
  
  .bv-status-closed {
    background-color: var(--status-color-red);
  }
  .bv-status-pending{
    background-color: var(--status-color-gray);
  }
  .bv-action {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--main-ldark-white-color);
  }
  .bv-project-item{
    transition: all 0.2s ease-in-out;
  }
  .bv-project-item:hover{
    background-color:  var(--card-lblue-white-color);
  }