<div class="pi-container">
  <div class="project-invite-root">
    <h4>{{ 'project.inviteFriends.title' | translate }}</h4>
  
    <div *ngIf="loading" class="loading">{{ 'project.inviteFriends.loading' | translate }}</div>
    <div *ngIf="!loading && friends.length === 0" class="empty-info">{{ 'project.inviteFriends.empty' | translate }}</div>
  
    <div class="invite-list" *ngIf="!loading && friends.length > 0">
      <div class="invite-row" *ngFor="let friend of friends">
        <img [src]="friend.avatarUrl || defaultAvatar(friend.username)" class="avatar" alt="Avatar" />
        <div class="info">
          <div class="username">{{ friend.username }}</div>
          <div class="fullname">{{ friend.firstName }} {{ friend.lastName }}</div>
          <div class="mail">{{ friend.email }}</div>
        </div>
        <button class="invite-btn"
                [class.sent]="inviteSent[friend.id]"
                [disabled]="inviteSent[friend.id]"
                (click)="invite(friend)">
          <i class="fa-solid" [ngClass]="inviteSent[friend.id] ? 'fa-paper-plane' : 'fa-user-plus'"></i>
          {{ inviteSent[friend.id] ? ('project.inviteFriends.sent' | translate) : ('project.inviteFriends.button' | translate) }}
        </button>
      </div>
    </div>
  </div>
</div>
