
.pi-container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shadow-d);
  width: 100vw;
  height: 100vh;
}
.project-invite-root {
  padding: 20px 10px;
  max-width: 730px;
  margin: 0 auto;
  background-color: var(--card-xsw);
}
.invite-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 14px;
}

h4{
  color: var(--text-xsw);
}
.invite-row {
  display: flex;
  align-items: center;
  background: var(--card-sw);
  border: 1px solid var(--border-xsw);
  border-radius: 7px;
  padding: 8px 14px;
  gap: 14px;
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid var(--border-sw);
  object-fit: cover;
}
.info {
  flex: 1;
}
.username {
  font-weight: 600; color: var(--text-xsw);
}
.fullname { color: var(--text-sw); font-size: 14px; }
.mail { color: var(--text-ld); font-size: 13px; }
.invite-btn {
  background: var(--button-cl);
  color: var(--text-dcl);
  border: none;
  border-radius: 7px;
  padding: 7px 13px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: background .18s, color .18s;
  display: flex; align-items: center; gap: 8px;
}
.invite-btn[disabled], .invite-btn:disabled {
  background: var(--button-xsw);
  color: var(--text-ld);
  cursor: default;
}
.loading, .empty-info { color: var(--text-ld); margin-top: 14px; text-align: center;}
