
<div *ngIf="isCreateTaskOpen" class="bv-create-project-modal">
    <div class="bv-cp-container">
        <div class="bv-cp-body">
          <div class="bv-cp-form">
        
          </div>
        </div>
        <div class="bv-cp-options">
          <button  class="bv-cp-submit" >
            Submit
          </button>
          <div class="bv-cp-close" (click)="toggleCreateProjectBoard()">
            Close
          </div>
        </div>
    </div>
  </div>



<app-task-detail [taskD]="tasks[taskdetailmodalid]" *ngIf="activeDetail"></app-task-detail>

<app-share-modal  *ngIf="shareVisible"
  [url]="currentTaskUrl">
</app-share-modal>

<div *ngIf="isCreateTaskOpen" class="bv-create-project-modal">
    <div class="bv-cp-container">
      <div class="bv-cp-body">
        <!-- ngForm ile formu sarmalayın -->
        <form (ngSubmit)="onCreateTask()" #taskForm="ngForm">
          <div class="bv-cr-text-group">
            <label for="title">Title</label>
            <input id="title" [(ngModel)]="taskModel.title" name="title" required placeholder="Enter task title" class="form-control" />
          </div>
  
          <div class="bv-cr-text-group">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="taskModel.description" name="description" required placeholder="Enter task description" class="form-control"></textarea>
          </div>
  
          <div class="bv-cr-input-grp">
            <div class="bv-cr-text-group">
              <label for="startDate">Start Date</label>
              <input type="date" id="startDate" [(ngModel)]="taskModel.startDate" name="startDate" required class="form-control" />
            </div>
            <div class="bv-cr-text-group">
              <label for="dueDate">Due Date</label>
              <input type="date" id="dueDate" [(ngModel)]="taskModel.dueDate" name="dueDate" required class="form-control" />
            </div>
          </div>
  
          <div class="bv-cr-text-group">
            <label for="priority">Priority</label>
            <select id="priority" [(ngModel)]="taskModel.priority" name="priority" required class="form-control">
              <option *ngFor="let priority of taskPriorities" [value]="priority">{{ priority }}</option>
            </select>
          </div>
  
  
  
          <div class="bv-cp-options">
            <button type="submit" class="bv-cp-submit" [disabled]="!taskForm.form.valid">Submit</button>
            <div class="bv-cp-close" (click)="toggleCreateTaskBoard()">Close</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  




    <div class="bv-b-container d-flex flex-column justify-content-start align-items-center">
        <div class="bv-b-header d-flex justify-content-start">
            <div class="bv-b-title">
                Board
            </div>
           
        </div>
    
        <div class="bv-b-body">
            <div class="bv-b-body-options">
                <div class="bv-b-op-left">
                    <div class="bv-b-op-search">
                        <input type="text" name="" class="form-control" id="">
                        <button class="bv-b-s-button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#ffffff">
                                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="bv-b-op-users">
    
                    </div>
                </div>
                <div class="bv-b-op-right">
                    <div class="bv-b-actions">
                        <div class="bv-b-share" (click)="showShare()">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#ffffff">
                                <path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"/>
                            </svg>
                        </div>
                        <div class="bv-b-star">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#ffffff"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/>
                            </svg>
                        </div>
                        <div class="bv-b-settings">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#ffffff">
                                <path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bv-b-task-body">
                <div *ngFor="let status of ['NotStarted', 'InProgress', 'Blocked', 'OnHold', 'Cancelled', 'Completed']">
                    <div class="bv-b-task-item bv-b-task-done">
                      <div class="bv-b-ti-header">
                        <!-- Display status as column title -->
                        <div class="bv-b-ti-title">{{ status | titlecase }}</div> <!-- Capitalize status title -->
                        <div class="bv-b-ti-options">
                          <!-- Options Icon -->
                          <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#ffffff">
                            <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
                          </svg>
                        </div>
                      </div>
                      <div class="bv-b-ti-body">
                        <!-- Display tasks under each status -->
                        <div *ngIf="column[status] && column[status].length > 0">
                          <div class="bv-task-card" *ngFor="let task of column[status]" data-modal="detail" [style.border-left]="'4px solid white'" (click)="toggleTaskDetail(task.id)">
                            <div class="bv-task-header">{{ task.title }}</div>
                            <div class="bv-task-desc">{{ task.description }}</div>
                            <div class="bv-task-status">{{ getPriorityString(task.priority) | titlecase }}</div>
                          </div>
                        </div>
                        <div class="bv-b-ci" (click)="toggleCreateTaskBoard()">
                          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                          </svg>
                          Create Issue
                        </div>
                      </div>
                    </div>
                  </div>
               
                  
                  
                  
                  
                </div>
            </div>
        </div>
    
 


<!--
       <div class="bv-b-tasks" *ngFor="let col of columns">
    
                    <div class="bv-b-task-item bv-b-task-done"  >
                        <div class="bv-b-ti-header">
                            <div class="bv-b-ti-title">
                                <inline-edit [(value)]="col.title"
                                (valueChange)="onTitleChange(col, $event)"></inline-edit>
    
                            </div>
                            <div class="bv-b-ti-options">
                                <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#ffffff">
                                    <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="bv-b-ti-body">
                            <div class="bv-task-card" *ngFor="let task of col.tasks" [style.border-left]="'4px solid ' + task.color" data-modal="detail" [style.cursor]="'pointer'" (click)="toggleTaskDetail()">
                                <div class="bv-task-header">{{ task.title }}</div>
                                <div class="bv-task-desc">{{ task.description }}</div>
                                <div class="bv-task-status">{{ task.priority }}</div>
                              </div>
                              
                        <div class="bv-b-ci" (click)="toggleCreateTaskBoard()">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                            Create Issue
                        </div>
                         </div>
                   
                  
                </div>
            </div>-->