<div class="not-found-container">
    <div class="error-content">
      <h1>404</h1>
      <p class="error-message">Oops! Sayfa Bulunamadı</p>
      <p class="error-description">Aradığınız sayfa mevcut değil. Lütfen bağlantıyı kontrol edin veya aşağıdaki butonu kullanarak ana sayfaya dönün.</p>
      <a routerLink="/" class="back-link">Ana Sayfaya Dön</a>
    </div>
    <div class="error-image">
      <img *ngIf="!darkMode" src="iconbeavask.png" alt="404" />
      <img *ngIf="darkMode" src="Beavaskpink.png" alt="404" />
    </div>
  </div>
  