<div class="bv-dashboard-container d-flex flex-column gap-4">

  <!-- METRICS -->
  <div class="bv-dashboard-metrics d-flex justify-content-between flex-wrap gap-4">
    <div class="bv-dashboard-card" *ngFor="let metric of companyMetrics">
      <div class="bv-dm-count">{{ metric.count }}</div>
      <p>{{ metric.label }}</p>
      <span>{{ metric.subtext }}</span>
    </div>
  </div>

  <div class="bv-dashboard-content-grid">

    <!-- TASK DISTRIBUTION -->
    <div class="bv-dashboard-box">
      <h4>Company Task Distribution</h4>
      <div class="bv-dashboard-chart-area">
        <canvas id="companyTaskChart"></canvas>
        <ul class="bv-dashboard-legend">
          <li *ngFor="let item of chartLegend">
            <span class="bv-status-dot" [ngClass]="item.colorClass"></span>{{ item.label }}: {{ item.count }}
          </li>
        </ul>
      </div>
    </div>

    <!-- ACTIVE EMPLOYEES -->
    <div class="bv-dashboard-box">
      <h4>Active Employees</h4>
      <div class="bv-dashboard-table-wrapper">
        <table class="bv-table">
          <thead>
            <tr>
              <th>Userame</th>
              <th>Mail</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let emp of activeEmployees"  >
              <td>{{ emp.username }}</td>
              <td>{{ emp.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
