<div class="bv-login-body">
  <div class="bv-login-container">
    <div class="bv-logo">
      <img *ngIf="!darkMode" src="iconbeavask.png" alt="Logo">
      <img *ngIf="darkMode" src="Beavaskpink.png" alt="Logo">
    </div>
    <div class="bv-form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group bv-text-group">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group bv-text-group">
          <label for="exampleInputPassword1">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group form-check bv-checkbox">
          <input formControlName="rememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
        </div>

        <div class="bv-check2">
          <div class="bv-forgot-password">
            Forgot Password
          </div>
          <div class="bv-create-account" (click)="goToRegister()">
            Create Account
          </div>
        </div>

        <div class="bv-login-options">
          <button type="submit" [disabled]="loginForm.invalid || isLoading" class="bv-submit">
            <div *ngIf="isLoading" class="loader">Loading...</div>
            <span *ngIf="!isLoading">Submit</span>
          </button>
        </div>
      </form>

      <div class="bv-login-options">
        <div class="bv-login-option-button" (click)="loginWithGoogle()">
          <div class="bv-login-logo">
            <!-- Google SVG Icon -->
          </div>
          <div class="bv-login-text">Google</div>
        </div>

        <div class="bv-login-option-button" (click)="loginWithGithub()">
          <div class="bv-login-logo">
            <!-- GitHub SVG Icon -->
          </div>
          <div class="bv-login-text">GitHub</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toast></app-toast>
