
<div style="width: 100vw; height:100vh;">
  <app-forget-password (openModal)="toogleForgotPassModal()" *ngIf="showMail"></app-forget-password>
  <div class="bv-login-body" *ngIf="showLogin" [@slideUp] >
    <div class="circle-box"></div>
    <div class="circle-box1"></div>
    <div class="circle-box2"></div>
    <div class="bv-login-container d-flex flex-column justify-content-center align-items-center">
      <div class="bv-logo">
        <img *ngIf="!darkMode" src="iconbeavask.png" alt="Logo">
        <img *ngIf="darkMode" src="Beavaskpink.png" alt="Logo">
      </div>
      <div class="bv-form-container d-flex flex-column justify-content-center align-items-center">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group bv-text-group">
            <label for="exampleInputEmail1">{{'login.email' | translate}}</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'login.forgotPassword.mailPlaceholder' | translate}}">
            <!-- Email validasyon hataları -->
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">
              <small class="bv-valid" *ngIf="loginForm.get('email')?.errors?.['required']">{{'login.emailRequired' | translate}}</small>
              <small class="bv-valid" *ngIf="loginForm.get('email')?.errors?.['email']">{{'login.invalidEmail' | translate}}</small>
            </div>
          </div>
          
          <div class="form-group bv-text-group">
            <label for="exampleInputPassword1">{{'login.password' | translate}}</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="{{'login.password' | translate}}">
            <!-- Password validasyon hataları -->
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
              <small class="bv-valid" *ngIf="loginForm.get('password')?.errors?.['required']">{{'login.passsRequired' | translate}}</small>
              <small class="bv-valid" *ngIf="loginForm.get('password')?.errors?.['minlength']">{{'login.invalidPassword' | translate}}</small>
            </div>
          </div>
          
        
          
          <div class="bv-check2">
            <div class="bv-forgot-password" (click)="toogleForgotPassModal()">
             {{'login.forgotPassword.title' | translate}}
            </div>
            <div class="bv-create-account" (click)="goToRegister()">
              {{'login.createAccount' | translate}}
            </div>
          </div>
        
          <div class="bv-login-options d-flex justify-content-between">
            <button type="submit" [disabled]="loginForm.invalid || isLoading" class="bv-submit bv-transition gap-3 bv-radius-5 d-flex justify-content-center align-items-center">
              <div *ngIf="isLoading" class="loader">{{'login.loading' | translate}}</div>
              <span *ngIf="!isLoading">{{'login.login' | translate}}</span>
            </button>
      
            <div class="bv-login-option-button bv-transition gap-3 bv-radius-5 d-flex justify-content-center align-items-center" (click)="loginWithGithub()">
              <div class="bv-login-logo d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-github"></i>
              </div>
              <div class="bv-login-text">GitHub</div>
            </div>
          </div>
        </form>
  <div class="bv-admin-create mt-4 d-flex justify-content-start">
    <div class="bv-company" (click)="goToCompanyLogin()" title="Create company account">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M680-600h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160v-80h160v-560H480v56l-80-58v-78h520v720H680Zm-640 0v-400l280-200 280 200v400H360v-200h-80v200H40Zm80-80h80v-200h240v200h80v-280L320-622 120-480v280Zm560-360ZM440-200v-200H200v200-200h240v200Z"/>
      </svg>
      <span>{{'login.loginCompany' | translate}}</span>
    </div>
  </div>
  
      </div>
    </div>
  </div>
  <app-toast></app-toast>

</div>



